.footer{
  background-image: url("../../assets/images/pattern2.png");
  background-repeat: repeat;
}
//.footer{
//  background-color: #D5BBB1;
//}
.c1{
  color: black;
  font-family: 'Julius Sans One', sans-serif;
}
