<div class="container-fluid p-2 parent">
  <div style="display: flex;">
    <div class="p-2"><a href="#"><img src="../../assets/images/instagram1.png" ></a></div>
    <div class="p-2"><a href="#"><img src="../../assets/images/pinterest.png"></a></div>
    <div class="p-2"><a href="#"><img src="../../assets/images/twitter.png"></a></div>
  </div>
  <div class="p-2">
    <div ><a (click)="logout()" class="logoutbtn text-light" >Log Out</a></div>
  </div>
</div>


<div class="pb-3 logotext">
Hogblog
</div>

<hr/>
