<nav>
  <a routerLink="/login" routerLinkActive="active"></a>
  <a routerLink="/signup" routerLinkActive="active"></a>
  <a routerLink="/home" routerLinkActive="active"></a>
  <a routerLink="/my-profile" routerLinkActive="active"></a>
  <a routerLink="/add-blog" routerLinkActive="active"></a>
  <a routerLink="/blog-details" routerLinkActive="active"></a>
  <a routerLink="/logout" routerLinkActive="active"></a>
  <a routerLink="/blog-list" routerLinkActive="active"></a>
  <a routerLink="/all-users" routerLinkActive="active"></a>
  <a routerLink="/blog-update" routerLinkActive="active"></a>



</nav>
<router-outlet></router-outlet>

