.patternstyling{
  background-image: url("../../assets/images/pattern2.png");
  background-repeat: repeat-x;
}
.logotext{
  text-align: center;
  font-size: 100px;
  font-family: 'Sacramento', cursive;
}
