<div class="patternstyling display-4">
  <span class="text-light">i</span>
</div>
<div style="background-color: #D5BBB1">
  <span style="color: #D5BBB1">i</span>
</div>

<div class="container-fluid p-5">
  <div class="container p-5">
    <div class="pb-3 logotext">
      Hogblog
    </div>
    <div class="display-4 p-3 text-center">
      You are now logged out !
    </div>
    <div class="m-3 text-center">
      <a routerLink="/login" style="font-size: x-large;">
 log in again
      </a>
    </div>
  </div>
</div>


<div style="background-color: #D5BBB1">
  <span style="color: #D5BBB1">i</span>
</div>
<div class="patternstyling mt-1 display-2">
  <span class="text-light">i</span>
</div>
